<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Enter the time to find out the clock angle</h1>

    <form action='/clock'>
      <div class="form-group">
        <label for="title">Hour to evaluate:</label>
        <input id="clock" name="clock" class="form-control" type="time">
      </div>
      <button type="submit" class="btn-success">Send</button>
    </form>
  </body>
</html>
